html,
body {
  height: 100vh;
  position: relative;
}

.card-container {
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.4em;
  min-width: 8em;
  min-height: 8em;
}

.clash-container {
  min-width: 8em;
  min-height: 8em;
}

.clash-opponent-active {
  background-color: blue;
  border-color: black;
}

.opponent {
  min-width: 3em;
  min-height: 3em;
  background-color: blue;
  border: 0.2em solid;
}

.opponent-invisible {
  background-color: transparent;
  border-color: transparent;
}

.data-container {
  max-width: 2em;
  max-height: 3.2em;
  border-bottom-right-radius: 0.6em;
  font-size: 1.1em;
  font-weight: bold;
}

.element-win-pile {
  height: 2em;
}

.win-card {
  height: 2em;
  width: 2em;
  border-radius: 0.3em;
  margin-left: 0.3em;
}

.wcard-icon {
  margin-top: 10%;
  margin-left: 20%;
}

#row-middle {
  height: 67vh;
}

#row-top {
  height: 12vh;
}

#row-bottom {
  height: 21vh;
}

#clashing-cards {
  height: 8em;
  width: 17em;
}
